.App {
  text-align: center;
}
*{
  font-family: 'Roboto';
  /* color:#ced4da */
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
h1,h2,h3,p,ul,li {
  color:#ced4da;
}
@media screen and (max-width: 600px) {
  h1,h2,h3,p,ul,li {
    font-size: 3vw;
  }
}



h1,h2,h3{
  color:#ced4da;
  /* text-shadow: 0 0 10px #FFFFFF, 0px 0px 10px rgba(121,255,110,0.5); */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
